@use "../vars";

.section.products {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.5rem;
  background-color: var(--base-white);
  padding: 6rem 1.5rem;
  overflow: hidden;

  @media #{vars.$tablet} {
    padding: 6rem 0;
  }

  @media #{vars.$phone} {
    gap: 3rem;
  }

  .heading {
    max-width: 1216px; // calc(100% - 624px);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;


    @media #{vars.$tablet} {
      gap: 0.75rem;
      width: calc(100% - 66px);
    }
    @media #{vars.$phone} {
      gap: 0.75rem;
      width: 100%;
      padding: 0 1rem;
    }

    .top {

      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      p {
        color: var(--Brand-700);
        --min-font-size: 0.94;
        --max-font-size: 1;
        font-size: var(--interpolate);
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
      }

      h2 {
        color: var(--Gray-900);
        --min-font-size: 1.38;
        --max-font-size: 2.25;
        font-size: var(--interpolate);
        font-style: normal;
        font-weight: 600;
        line-height: 1.222;
        letter-spacing: -0.044rem;
        @media #{vars.$tablet} {
          --min-font-size: 1.69;
          --max-font-size: 2.25;
        }

      }
    }

    p {
      --min-font-size: 1;
      --max-font-size: 1.25;
      font-size: var(--interpolate);
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      @media #{vars.$tablet} {
        --min-font-size: 1.06;
      }
    }
  }

  .product-item {

    @media #{vars.$tablet} {
      max-width: 80rem;
      justify-content: center;
      gap: 2.44rem;
      flex-shrink: 0;
      width: 100%;
      flex-direction: column;
      padding-left: 1.94rem;
      padding-right: 2rem;
    }

    @media #{vars.$phone} {
      padding: 0 1rem;
    }

    .product {
      width: 100%;
      max-width: 80rem;
      display: flex;
      align-items: flex-start;
      gap: 5.94rem;
      padding-left: 2rem;
      flex-direction: row;
      flex-wrap: wrap;

      @media #{vars.$tablet} {
        gap: 2rem;
        padding: 0;
      }

      &.product-revers {
        flex-direction: row-reverse;


        .info {
          order: 1;
        }

        .image-placeholder {
          order: 2;
        }

        .all-features {
          order: 3
        }

        @media #{vars.$tablet} {
          flex-direction: column;

          img {
            width: 100%;
          }

          .info {
            order: 1;
          }

          .image-placeholder {
            order: 2;
          }

          .all-features {
            order: 3
          }
        }

        @media #{vars.$phone} {

          .info {
            order: 1;
          }

          .image-placeholder {
            order: 3;
          }

          .all-features {
            order: 2;
          }
        }
      }
    }


    .info {
      width: 85%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex-grow: 1;
      flex: 1;

      @media #{vars.$tablet} {
        order: 1;
      }

      @media #{vars.$phone} {
        width: 100%;
      }

      .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.12rem;
        padding-top: 0.62rem;

        .coming-soon {
          display: flex;
          gap: 1rem;
        }

        img {
          width: 7.12rem;
          flex-shrink: 0;
        }

        .header {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-self: stretch;

          h2 {
            color: var(--Gray-900);
            font-size: 1.88rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.267;
            text-align: left;

            @media #{vars.$phone} {
              font-size: 1.5rem;
              line-height: 1.333;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            text-align: left;

            @media #{vars.$phone} {
              font-size: 1rem;
            }
          }
        }
      }

      .benefits {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-left: 1rem;

        .benefit {
          display: flex;
          align-items: flex-start;
          gap: 0.75rem;

          .icon {
            width: 1.75rem;
            flex-shrink: 0;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
          }

          p {
            flex-grow: 1;
            font-style: normal;
            font-weight: 400;
            text-align: left;

            @media #{vars.$phone} {
              font-size: 1rem;
            }
          }
        }
      }

      .ctas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: start;

        .ctas-options {
          display: flex;
          align-items: flex-start;
          gap: 1.25rem;

          .btn {
            color: var(--Gray-700);
            background-color: var(--Base-White);
            padding-top: 0.56rem;
            padding-bottom: 0.56rem;
            border: 1px solid var(--Gray-300);
          }

          .btn-primary {
            color: var(--Base-White);
            background-color: var(--Brand-600);
            padding-top: 0.62rem;
            padding-bottom: 0.62rem;
          }
        }

        .more-features {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.38rem;
          padding: 0.62rem 0.88rem 0.62rem 1rem;
          cursor: pointer;
          pointer-events: all;

          &:hover {
            background-color: var(--Gray-50);
          }

          p {
            font-size: 0.88rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.429;
            margin-left: 0.06rem;
            text-align: left;
            pointer-events: none;

            content: "Show Featurs";

            & + object {
              transform: rotate(180deg);
            }

            &.show + object {
              transform: rotate(0deg);
            }
          }

          object {
            pointer-events: none;
          }


        }
      }

    }

    .image {
      flex: 1;

      @media #{vars.$tablet} {
        order: 3;
      }

      box-shadow: 0px 2px 2px -1px rgba(10, 13, 18, 0.04), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
      margin-right: -10.75rem;
      width: 115%;
      flex-grow: 1;
      background-color: var(--Base-White);
      padding: 0.19rem;
      border: 0.6px solid var(--gray-200-alpha);
      border-radius: 20.08px;

      @media #{vars.$tablet} {
        box-shadow: 0px 2px 2px -1px rgba(10, 13, 18, 0.04), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
        margin-right: 0.38rem;
        padding: 0.19rem 3.04px;
        width: 100%;
      }

      .image-shadow {

        box-shadow: inset 0px 0px 2.51px 1.25px rgba(10, 13, 18, 0.03), inset 0px 0px 3.76px 1.25px rgba(10, 13, 18, 0.08);
        background-color: var(--Base-White);
        padding: 0.19rem;
        border-radius: 17.57px;
        overflow: hidden;

        img {
          border-radius: 15.06px;
        }
      }
    }

    .app_screenshot {
      margin-top: 6rem;
      max-width: 560px;
    }

  }
}

.all-features {
  width: 100%;
  max-height: 0;
  height: 0;
  overflow: hidden;
  border: none;

  flex: initial;

  transition: max-height 0.5s, height 0.5s;

  @media #{vars.$tablet} {
    order: 2;
  }

  &.expanded {
    max-height: 20rem;
    height: auto;
    border: none;

    @media #{vars.$tablet} {

      max-height: 30rem;
    }

    @media #{vars.$phone} {

      max-height: 35rem;
    }
  }

  //border: 1px solid var(--Brand-100);
  border-radius: 12px;
  background: var(--Brand-50);

  .content {

    padding: 20px;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

  }


  p {
    text-align: left;
    color: var(--Gray-600);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    @media #{vars.$phone} {
      font-size: 1rem;
    }
  }


  .benefits {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;

    @media #{vars.$phone} {
      padding-left: 0;
      gap: 0.5rem;
    }
  }

  .benefit {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;

    .icon {
      @media #{vars.$phone} {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}


