@use "../vars";

.section.products {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.5rem;
  background-color: var(--base-white);
  padding: 6rem 1.5rem;
  overflow: hidden;

  .heading {
    width: calc(100% - 624px);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .top {

      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      p {
        color: var(--Brand-700);
        --min-font-size: 0.94;
        --max-font-size: 1;
        font-size: var(--interpolate);
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
      }

      h2 {
        color: var(--Gray-900);
        --min-font-size: 1.38;
        --max-font-size: 2.25;
        font-size: var(--interpolate);
        font-style: normal;
        font-weight: 600;
        line-height: 1.222;
        letter-spacing: -0.044rem;
      }
    }

    p {
      --min-font-size: 1;
      --max-font-size: 1.25;
      font-size: var(--interpolate);
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .product-item {
    .product {
      width: 100%;
      max-width: 80rem;
      display: flex;
      align-items: flex-start;
      gap: 5.94rem;
      padding-left: 2rem;

      &.product-revers {
        flex-direction: row-reverse;
      }

      .info {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-grow: 1;

        .details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2.12rem;
          padding-top: 0.62rem;

          .coming-soon {
            display: flex;
            gap: 1rem;
          }

          img {
            width: 7.12rem;
            flex-shrink: 0;
          }

          .header {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-self: stretch;

            h2 {
              color: var(--Gray-900);
              font-size: 1.88rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.267;
              text-align: left;
            }

            p {
              font-style: normal;
              font-weight: 400;
              text-align: left;
            }
          }
        }

        .benefits {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
          padding-left: 1rem;

          .benefit {
            display: flex;
            align-items: flex-start;
            gap: 0.75rem;

            .icon {
              width: 1.75rem;
              flex-shrink: 0;
              aspect-ratio: 1 / 1;
              border-radius: 50%;
            }

            p {
              flex-grow: 1;
              font-style: normal;
              font-weight: 400;
              text-align: left;
            }
          }
        }

        .ctas {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.25rem;
          align-self: start;

          .ctas-options {
            display: flex;
            align-items: flex-start;
            gap: 1.25rem;

            .btn {
              color: var(--Gray-700);
              background-color: var(--Base-White);
              padding-top: 0.56rem;
              padding-bottom: 0.56rem;
              border: 1px solid var(--Gray-300);
            }

            .btn-primary {
              color: var(--Base-White);
              background-color: var(--Brand-600);
              padding-top: 0.62rem;
              padding-bottom: 0.62rem;
            }
          }

          .more-features {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.38rem;
            padding: 0.62rem 0.88rem 0.62rem 1rem;

            &:hover {
              background-color: var(--Gray-50);
            }

            p {
              font-size: 0.88rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.429;
              margin-left: 0.06rem;
              text-align: left;

              content: "Show Featurs";
            }
          }
        }

      }

      .image {
        box-shadow: 0px 2px 2px -1px rgba(10, 13, 18, 0.04), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
        margin-right: -10.75rem;
        width: 115%;
        flex-grow: 1;
        background-color: var(--base-white);
        padding: 0.19rem;
        border: 0.6px solid var(--gray-200-alpha);
        border-radius: 20.08px;

        .image-shadow {
          box-shadow: inset 0px 0px 2.51px 1.25px rgba(10, 13, 18, 0.03), inset 0px 0px 3.76px 1.25px rgba(10, 13, 18, 0.08);
          background-color: var(--base-white);
          padding: 0.19rem;
          border-radius: 17.57px;
          overflow: hidden;

          img {
            border-radius: 15.06px;
          }
        }
      }

      .app_screenshot {
        margin-top: 6rem;
        max-width: 560px;
      }

    }
  }

  .all-features {
    height: 0;
    max-height: 0;
    overflow: hidden;
    border: none;
    margin-top: 64px;

    //border: 1px solid var(--Brand-100);
    border-radius: 12px;
    background: var(--Brand-50);

    .content {

      padding: 20px;
      display: flex;
      min-width: 300px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

    }


    p {
      text-align: left;
      color: var(--Gray-600);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
    }

    .benefits {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-left: 16px;
    }

    .benefit {
      display: flex;
      align-items: flex-start;
      gap: 0.75rem;
    }
  }
}
