@use "../vars";

#purchase {
  margin: 0;
  padding: 0 2rem 2rem;

  .section.bundle {
    padding: 0;
    background: var(--Base-White);


    .container {
      padding: 0;

      .plans {

        align-items: stretch;

        .card-left {
          flex: 1;

        }

        .cards-right {
          overflow: initial;
          align-items: stretch;
          flex: 2;

          .col-left,
          .col-right {
            height: initial;
          }
        }
        @media #{vars.$tablet} {
          padding: 0;
          margin: 0;

          .card-left {
            margin-top: 0;
          }



        }

        .card-frame {
          img {
            height: 37px;
            object-fit: contain;
          }
        }
      }


    }
  }
}
