@use "../vars" as v;

@use "./stage-integrations";
@use "./unsupported-apps";
@use "./pushpayform";
@use "./bundle-select";
@use "./login";

.checkout-page {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  overflow: hidden;

  flex-direction: row;

  .main-column {
    display: flex;
    flex-direction: column;
    width: 70vw;

    @media #{v.$tablet} {
      width: 100%;
    }


    @media #{v.$phone} {
      width: 100%;
    }
  }

  &.stage-checkout {
    overflow: initial;

    flex-direction: row;
    max-height: initial;

    .main-column {
      //width: 100%;
    }


    @media #{v.$tablet} {

      flex-direction: column;
    }

    .stage {
      overflow: initial;
      max-height: initial;
    }
  }

  .stage {
    display: flex;
    min-width: 480px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    max-height: 100vh;
    overflow-y: auto;


    @media #{v.$phone} {
      overflow: initial;
      min-width: 100%;
      padding: 2rem 0 0;
    }
  }

  .stage-container {
    margin-left: 7.5vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media #{v.$tablet} {
      padding: 0 2rem;
      margin: 0
    }

    @media #{v.$phone} {
      padding: 0 1rem;
    }

    .heading {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      h2 {
        color: var(--Gray-900);
        font-size: 1.88rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.267;
        text-align: left;
      }

      p {
        color: var(--Gray-600);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: left
      }

      h4 {
        color: var(--Gray-900);
        font-size: 1.12rem;
        font-style: normal;
        line-height: 1.556;
        text-align: left;
        font-weight: 500;
      }
    }
  }

  .checkout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;


    @media #{v.$phone} {
      padding: 1rem 1rem;
    }

    img {

      width: 9.94rem;
    }

    .close-button {
      max-width: 27.5rem;
      display: flex;
      align-items: center;
      gap: 0.38rem;

      p {

        color: var(--Brand-700);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
}

.checkout-banner {

  display: none;

  &.show {

    display: block;

    @media #{v.$phone} {
      display: none;
    }
  }

  max-width: 30vw;
  width: 100%;
  max-height: 100vh;

  @media #{v.$tablet} {
    width: 40vw;
    max-width: 40vw;
  }


  img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    object-position: top;
  }
}

.checkout-summary {

  display: none;
  width: 100%;
  max-width: 30vw;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%) top left / auto auto no-repeat, linear-gradient(#bedbed, #bedbed) top left / auto auto no-repeat;
  padding: 13.56rem 2.5rem;

  &.show {
    display: flex;

  }

  @media #{v.$tablet} {
    width: 100%;
    max-width: 100%;
    height: auto;

    padding: 2rem;
  }

  p {
    color: var(--Gray-600);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0rem;
    text-align: left;
  }

  .card-summary {
    container: card-header / inline-size;
    box-shadow: 0px 2px 2px -1px rgba(10, 13, 18, 0.04), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    padding: 1.44rem;
    border: 1px solid var(--Gray-200);
    border-radius: 12px;


    .card-summary-header-items {
      color: var(--Gray-600);
      font-size: 1.12rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.556;
      letter-spacing: 0rem;

      text-align: left;
      padding-bottom: 0.69rem;
      border-bottom: 1px solid var(--Gray-200);
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      .label {
        font-size: 1.12rem;
        font-style: normal;
        line-height: 1.556;
        letter-spacing: 0;
        font-weight: 500;
        text-align: center;
        color: var(--Gray-600);

      }

      .value {
        color: var(--Gray-900);
        text-align: right;
      }


      .card-summary-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

      }


      .card-summary-row-expandable {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        flex-grow: 1;

        object {
          width: 1.5rem;
          flex-shrink: 0;
          aspect-ratio: 1 / 1;
        }
      }

      .discount-item {
        display: flex;
        margin-top: -2rem;
        justify-content: space-between;
        font-size: 0.8rem;
        font-weight: 400;

        &:first-child {
          margin-top: -2rem;
        }

      }


    }

    .card-summary-row-total {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      padding-top: 1.19rem;
      border-top: 1px solid var(--Gray-200);

      .card-summary-row-total-summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.12rem;
        flex-grow: 1;
      }

      p {
        font-style: normal;
        letter-spacing: 0;
        text-align: left;;

      }

      .card-summary-row-total-header {
        color: var(--Gray-900);
        font-size: 1.12rem;
        font-weight: 600;
        line-height: 1.556;
      }

      .next-charge {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--Gray-900);
      }

      h2 {
        color: var(--Gray-900);
        font-size: 1.88rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.267;
        letter-spacing: 0;
      }

      .credit-on-file {
        display: none;
      }
    }
  }

}

.card-summary-row-base-rate {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding-top: 1.19rem;

  .card-summary-row-base-rate-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.12rem;
    flex-grow: 1;
  }

  p {
    font-style: normal;
    letter-spacing: 0;
    text-align: left;;

  }

  .card-summary-row-base-rate-header {
    color: var(--Gray-900);
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 1.4;
  }

  h2 {
    color: var(--Gray-900);
    font-size: 1.41rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }
}


.checkout-page {
  footer {
    padding: 1rem 2rem;

    display: flex;

    @media #{v.$tablet} {
      display: none;

    }


    @media #{v.$phone} {
      padding: 1rem 1rem;
      flex-direction: row;
    }

    p {
      color: var(--Gray-600);
      font-size: 0.88rem;
      font-style: normal;
      font-weight: 400;

      object {
        display: inline
      }
    }
  }

  footer.footer.responsive {
    display: none;
    background-color: transparent;
    padding: 1rem 0;

    @media #{v.$tablet} {
      display: flex;
    }

  }
}

.back-to {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.38rem;
  align-self: center;
  padding-bottom: 2rem;

  object {
    width: 1.25rem;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
  }

  p {
    color: var(--Brand-700);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }
}

input {
  &:focus,
  &:active {
    outline: 2px solid var(--Brand-500);
  }


  &.input-error {
    border: 1px solid var(--Error-600) !important;
  }
}

.form-error {
  color: var(--Error-600);
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  padding-top: 0.25rem;
  display: none;
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: var(--Brand-200);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

