@use "vars";

@use "landing/hero";
@use "landing/navigation";
@use "landing/whatsincluded";
@use "landing/testimonial";
@use "landing/products";
@use "landing/bundle";
@use "landing/whoarewe";
@use "landing/faq";
@use "landing/footer";


.hover-dark:hover {
  filter: brightness(0.85);
}

.hover-bright:hover {
  filter: brightness(1.2);
}

.btn {
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05),
  inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05),
  inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);
  display: flex;
  justify-content: center;
  color: var(--Gray-700);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0rem;
  text-align: center;
  background-color: var(--Base-White);
  padding: 0.69rem 1.19rem;
  border: 1px solid var(--Gray-300);
  border-radius: 8px;
  overflow: hidden;
  --minContent: 265;
  --hSizing: HUG;
  --vSizing: HUG;
  --pConstraintHorizontal: MIN;
  --pConstraintVertical: MIN;
}

.btn-primary {
  color: var(--Base-White);
  background-color: var(--Brand-600);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-left: unset;
  border-top: unset;
  border-right: unset;
  border-bottom: unset;
}

.btn-black {
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05), inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05), inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);
  background-color: var(--Brand-600);
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--Gray-600);
  font-size: 1.12rem;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 1.556;
  letter-spacing: 0rem;
  text-align: center;
  background-color: var(--Base-white);
  overflow: auto;

}

.page {
  display: flex;
  flex-direction: column;
}


button.btn-badge {
  display: flex;
  justify-content: center;
  color: var(--Brand-700);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0rem;
  text-align: center;
  background-color: var(--Brand-50);
  padding: 0.06rem 0.44rem;
  border: 1px solid var(--Brand-200);
  border-radius: 16px;

  &:hover {
    filter: brightness(0.85);
  }
}


.section-divider {
  margin: 0 7rem;
  height: 0.06rem;
  flex-shrink: 0;
  background-color: var(--Gray-200);

  @media #{vars.$phone} {
    margin: 0 1rem;
  }
}
